.speech{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: black;
}
.stage-direction{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: black;
    background-color: rgb(154, 230, 230);
}
.name{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: black;
}
.stage-direction:hover{
    color:rgb(230, 225, 179);
    background-color: rgb(182, 122, 100);
}
.VERA{
    color: rgb(154, 230, 230);
}
.PRES{
    color:rgb(41, 65, 175);
    
}
.PRINCE-PAUL{
    color:rgb(182, 122, 100);
}
.MICH{
    color:rgb(230, 225, 179);
}
table{
    border: 5px solid black ;
    padding:40px 25px 45px;
    margin:20px 40px 70px 90px;
    width:40%;
}
th{
    color: black;
    border: 1px solid black;
    text-align: center;
    background-color:rgb(199, 47, 255);
    font-style: italic;
}
td{ color:rgb(70, 51, 153);
    border: 1px solid black;
    text-align: center;
}
tr:nth-child(even){
    background-color: gold;
}
tr:nth-child(odd){
    background-color: red;
}
